{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <h1>Edit Session</h1>

    <a href="{{ path('app_session_index') }}" class="btn btn-secondary mb-2"><i class="bi bi-arrow-left-short"></i> Précedent</a>

    {{ include('session/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
