{% extends 'base.html.twig' %}

{% block title %}Nouvel opérateur{% endblock %}

{% block body %}
    <h1>Nouvel opérateur</h1>
    <a href="{{ path('app_operateur_index') }}" class="btn btn-secondary mb-3"><i class="bi bi-arrow-left-short"></i> Précedent</a>

    {{ include('operateur/_form.html.twig') }}

    
{% endblock %}
